body {
	background-attachment: fixed;
	background-image: url(/img/TheBox_Table.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0;
	background-color: #fff;
}
.deck-entry:hover {
	cursor: url(/img/EyeOpen.png), auto;
}
.section-decklist:active, .deck-entry:active {
	cursor: url(/img/EyeClosed.png), auto;
}
.section-decklist {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	cursor: url(/img/EyeHalf.png), auto;
	display: flex;
}
.hs-decklist-container {
	margin: auto;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
}
.hs-decklist-hero {
	position: relative;
}
.hs-decklist-hero-frame {
	height: 101px;
	width: 256px;
	overflow: hidden;
	transform-origin: top left;
	transform: scale(0.95, 1);
	border-radius: 2px;
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
.hero-frame {
	position: absolute;
}
.hero-image {
	display: block;
	width: 100%;
	margin: -13px 0 0 0;
}
.hs-decklist-title {
	position: absolute;
	bottom: 1em;
	left: 29px;
	width: 191px;
}
input {
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: "hs-bold", "GLEI00M_t", FZLiBian, monospace, sans-serif;
	font-weight: bold;
	letter-spacing: 0.4px;
	color: #fff;
	font-size: 1.5em;
	border: none;
	background: none;
}
input:focus {
	outline: none;
}
input:invalid {
	box-shadow: none;
}
.hs-decklist {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.04em;
	color: rgba(0, 0, 0, 0.87);
	line-height: 1.5rem;
	padding: 0px;
	margin: 0px;
	width: 500px;
	display: inline-block;
}
.deck-entry {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 39px;
	width: 239px;
	position: relative;
	font-family: "hs-bold", "GLEI00M_t", FZLiBian, monospace, sans-serif;
	margin: 1px;
	float: left;
	padding-right: 6px;
}
.hs-tile-img {
	position: absolute;
	top: 7px;
	line-height: 0;
}
.hs-tile-img img {
	position: absolute;
	height: 26px;
}
.hs-tile-shade {
	background-image: url(/img/tile_shade.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 165px;
	height: 28px;
	position: absolute;
	top: 6px;
	line-height: 0;
}
.hs-tile-borders {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 0;
}
.hs-tile-mana {
	background-image: url(/img/tile_mana.png);
	background-size: 100% 100%;
	position: absolute;
	left: -5px;
	top: 0;
	width: 43px;
	height: 39px;
}
.hs-tile-info {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.hs-tile-info > span {
	position: absolute;
}
.hs-tile-info-left {
	margin-left: 0;
	margin-right: 16px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	width: 34px;
	height: 100%;
	font-size: 1.25em;
}
.hs-tile-info-middle {
	display: inline-flex;
	flex-direction: column;
	left: 39px;
	bottom: 7.5px;
	color: #fff;
	letter-spacing: 0.4px;
	font-size: 1.2em;
}
.hs-tile-info-middle span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.hs-tile-info-right {
	margin-right: 16px;
	top: 0;
	right: 5px;
	font-size: 1.2em;
	color: #e5b544;
	width: 30px;
	height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}
.preview-card {
	display: none;
	pointer-events: none;
	overflow: visible;
	z-index: 400;
	left: -100%;
	position: absolute;
}
.preview-card img {
	width: 250px;
}

.deck-entry-with-amount .hs-tile-img {
	right: 139px;
}
.deck-entry-with-amount .hs-tile-shade {
	left: 22px;
}
.deck-entry-with-amount .hs-tile-borders {
	background-image: url(/img/tile_container_number.png);
}
.deck-entry-with-amount .hs-tile-info-middle {
	max-width: 170px;
}
.deck-entry-with-amount .hs-tile-info-middle span {
	width: 170px;
}

.deck-entry-without-amount .hs-tile-img {
	right: 125px;
}
.deck-entry-without-amount .hs-tile-shade {
	left: 30px;
}
.deck-entry-without-amount .hs-tile-borders {
	background-image: url(/img/tile_container_open.png);
}
.deck-entry-without-amount .hs-tile-info-middle {
	max-width: 190px;
}
.deck-entry-without-amount .hs-tile-info-middle span {
	width: 190px;
}

@media (min-width: 960px) {
}
@media (max-width: 959px) {
	.hs-decklist {
		width: 250px;
	}
}
@media (max-width: 599px) {
	.hs-decklist-hero {
		margin-bottom: 5px;
	}
	.preview-card {
		visibility: hidden;
	}
}
