<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="user-scalable=no, viewport-fit=cover">
<title>Error!</title>
</head>
<body>
<h1>Error!</h1>
<p>{{ data }}</p>
</body>
</html>
