<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="user-scalable=no, viewport-fit=cover">
<title>{{ name }}</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/fonts/fonts.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/HubSpot/pace/themes/black/pace-theme-center-circle.css">
<script src="https://cdn.jsdelivr.net/gh/HubSpot/pace/pace.min.js"></script>
</head>
<body>
<section class="section-decklist">
	<div class="hs-decklist-container">
		<div class="hs-decklist-hero">
			<div class="hs-decklist-hero-frame">
				<img src="/img/CustomDeck_phone-Recovered.png" class="hero-frame">
				<img src="https://art.hearthstonejson.com/v1/256x/{{ hero.id }}.jpg" class="hero-image">
			</div>
			<div class="hs-decklist-title">
				<input id="deck-title-input" data-deckcode="{{ deckstring }}" type="text" value="{{ name }}" maxlength="20">
			</div>
			<div class="hs-arcane-dust">
				<img src="/img/DustJar_Icon.png">
				<span>{{ dust.common }}</span>
				<img src="/img/DustJar_Icon.png">
				<span class="hs-golden">{{ dust.golden }}</span>
			</div>
		</div>
		<ul class="hs-decklist">
			{% for card, count in deck_cards %}
			<li class="deck-entry deck-entry-with{% if count === 1 and card.rarity !== "LEGENDARY" %}out{% endif %}-amount">
				<div class="hs-tile-img">
					<img src="https://art.hearthstonejson.com/v1/tiles/{{ card.id }}.png">
				</div>
				<div class="hs-tile-shade"></div>
				<div class="hs-tile-borders"></div>
				<div class="hs-tile-mana"></div>
				<div class="hs-tile-info">
					<span class="hs-tile-info-left">{{ card.cost }}</span>
					<span class="hs-tile-info-middle">
						<span>{{ card.name[lang] }}</span>
					</span>
					<span class="hs-tile-info-right hs-golden">
						{% if count === 1 and card.rarity === "LEGENDARY" %}
							<img src="/img/star.png">
						{% elif count !== 1 %}
							{{ count }}
						{% endif %}
					</span>
				</div>
				<div class="preview-card">
					<img loading="{{ lazy }}" src="https://art.hearthstonejson.com/v1/render/latest/{{ lang }}/256x/{{ card.id }}.png">
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
<script>
var deckTitleInputEl = document.getElementById("deck-title-input");
deckTitleInputEl.addEventListener("change", event => {
	let newTitle = event.target.value;
	let deckTitle = encodeURIComponent((newTitle || "").trim());
	let deckCode = deckTitleInputEl.dataset.deckcode;
	window.location.href = `/?name=${deckTitle}&code=${deckCode}`;
}, false);
</script>
</body>
</html>
